<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="container" th:fragment="about">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>about us</h2>
				<hr class="star-light" />
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>
					we start study spring boot, include thymeleaf。
				</p>
			</div>
			<div class="col-lg-4">
				<p>
					we start study spring boot, include thymeleaf。
				</p>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="https://github.com/cloudfavorites"
					class="btn btn-lg btn-outline"> <i class="fa fa-download"></i>
					GITHUB--关注我们
				</a>
			</div>
		</div>
	</div>
</body>
</html>
